*{
    margin: 0%;
    padding: 0%;
}
p{
    margin: 20px;
}
#lelien{
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    float: right;
    padding-right: 20px;
    margin-top: 30px;
}

/*For mobile phones*/
@media only screen and (max-width: 479px){
    body{
        background-color:#ffdde4;
}
    #small{
        width: 80%;
        height: 25%;
        color: lightslategray;
        font-size: 16px;
        text-align: justify;
        margin: auto;
        padding: 30px;
        /*background-color: #D7E9F7;*/
        border-color: #D7E9F7;
        border-style: solid;
        border-width: 4px;
        border-radius:  5%;
        margin-top: 30px;

}
    #medium{
        display: none;
}
    #large{
        display: none;
}
}

/*For tablets*/
    @media only screen and (min-width: 480px) and (max-width:1023px){
        body{
            background-color:#EDFFEC;
    }
        #small{
            display: none;
    }
        #medium{
            width: 70vw;
            height: 50vh;
            color:lightsteelblue;
            font-size: 17px;
            text-align: justify;
            margin: auto;
            padding: 70px 15px;
            padding-left: 30px;
            /*background-color: #FDFCE5;*/
            border-color: lightpink;
            border-style: solid;
            border-width: 4px;
            border-radius: 5%;
            margin-top: 30px;
    }    
        #large{
            display: none;
}

}
/*For computers*/
    @media only screen and (min-width: 1024px){
        body{
            background-color: #D7E9F7;
    }
        #small{
            display: none;
    }
        #medium{
            display: none;
    }
        #large{
            width: 70vw;
            height: 50vh;
            color:lightpink ;
            font-size: 18px;
            text-align: justify;
            margin: auto;
            padding: 70px 30px 30px 30px;
            /*background-color: #EDF6E5;*/
            border-color: #EDF6E5;
            border-style: solid;
            border-width: 4px;
            border-radius: 5% ;
            margin-top: 30px;

    }    

}